.buildControls {
    width: 90%;
    background: #CF8F2E;
    display: flex;
    flex-float: column;
    align-items: center;
    box-shadow: 0 2px 1px #ccc;
    margin: auto;
    padding: 10px 5px;
}