.navigationItem {
    margin: 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.navigationItem a {
    color: #8F5C2C;
    text-decoration: none;
    padding: 16px 10px;
    border-top: 1px solid #8F5C2C;
    width: 100%;
    box-sizing: border-box;
    display: block;
    text-align: center;
    transition: background .2s ease-out;
}

.navigationItem:last-child a {
    border-bottom: 1px solid #8F5C2C;
}

.navigationItem a:hover,
.navigationItem a:active,
.navigationItem a.active {
    background: #8f5c2c2e;
}

@media (min-width: 768px) {
    .navigationItem {
        margin: 0;
        box-sizing: border-box;
        display: flex;
        height: 100%;
        align-items: center;
    }

    .navigationItem a {
        color: #fff;
        width: auto;
        padding: 5px;
        height: 100%;
        border-top: none;
        border-bottom: 4px solid transparent;
    }

    .navigationItem a:hover,
    .navigationItem a:active,
    .navigationItem a.active {
        background: #8F5C2C;
        border-bottom: 4px solid #40A4C8;
        color: #fff
    }
}