.button {
    background: transparent;
    border: none;
    color: #fff;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    transition: 1s;
}

.button:first-of-type {
    margin-left: 0;
}

.success {
    color: #5C9210;
    border: 1px solid #5C9210;
}

.success:hover {
    color: #fff;
    background: #5C9210;
}

.danger {
    color: #944317;
    border: 1px solid #944317;
}

.danger:hover {
    color: #fff;
    background: #944317;
}
