.navigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    height: 100%;
}

@media (min-width: 768px) {
    .navigationItems {
        display: flex;
    }
}
